<h1>Welcome to The Dashboard</h1>
<div>
  <table>
    <tr>
      <th>Entities</th>
      <th>Count</th>
    </tr>
    <tr>
      <td>Products</td>
      <td><%= @products_count.inspect %></td>
    </tr>
    <tr>
      <td>Categories</td>
      <td><%= @categories_count.inspect %></td>
    </tr>
  </table>
</div>
