<h1>Welcome to The Dashboard</h1>
<div>
  <h2>Store Stats</h2>
  <p>The following table shows the number of instances of each entity in the database.</p>
  <table class="table table-bordered">
    <tr>
      <th>Entities</th>
      <th>Count</th>
    </tr>
    <tr>
      <td>Products</td>
      <td><%= @products_count.inspect %></td>
    </tr>
    <tr>
      <td>Categories</td>
      <td><%= @categories_count.inspect %></td>
    </tr>
  </table>
</div>
