<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h2>Thank you for your order!</h2>
    <div>
      <p>We sent you a confirmation email at <%= @order.email %>.<br/> Please check your inbox (or your spam folder, as confirmation emails sometimes end up there).</p>
    </div>
    <%= render 'items', total: @order.total_cents %>
    
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
